{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "blockBindings": true,
      "jsx": true
    }
  },
  "rules": {
    "no-var": 2,
    "eqeqeq": [2, "smart"],
    "camelcase": 1,
    "curly": 1,
    "guard-for-in": 1,
    "no-use-before-define": [2, {"functions": true, "classes": true}],
    "new-cap": 1,
    "strict": 2,
    "no-invalid-regexp": 2,
    "comma-dangle": 2,
    "no-undef": 1,
    "no-new": 1,
    "no-extra-semi": 1,
    "no-debugger": 2,
    "no-caller": 1,
    "semi": 1,
    "quotes": [2, "single", "avoid-escape"],
    "no-unreachable": 2
  },
  "globals": {
    "$": false
  },
  "env": {
    "browser": true,
    "node": true
  }
}
